:root{
  --primary-text:#E1E1E1;
  --secondary-text:#CFCFCF;
  --background:#121212;
  --navbar:#102A43;
  --secondary-background:#3B3B3B;
  --darker-light:#0C0032;
}
      
*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color:var(--primary-text)
}

/* header */
header{
    padding:12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--navbar);
    color: var(--primary-text);
    top:0;
    left:0;
    right:0;
    position:fixed;
    overflow: hidden;
    width:100%;
    z-index: 1000;
    box-shadow: 1px 1px 4px 1px #b1b1b12f;
}

header h1{
    font-size:40px;
    display: inline-block;
    /* color: var(--dark); */
    text-align: center;
    margin: 0 8%;
    width:400px;
}

/* nav */
header nav {
    padding-top: 8px;
    margin-right: 10%;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 24px;
}

header nav ul li a{
    color:var(--dark);
    text-decoration: none;
}

/* main */
main{
    /* margin:100px 8%; */
    
} 

/* about me parent */
.about-me{
    text-align: center;
    display:flex;
    align-items: stretch;
    padding:80px 0;
    margin:100px 8%;
    position: relative;
}

/* about me overview section */

.about-me-overview{
    float:left;
    text-align: center;
    padding: 0 15px;
    width:auto;
}


.profile-photo{
    border-radius: 50%;
    height:275px;
    width:275px;    
    text-align: center;
    margin:0 62.5px;
}

.about-me-overview h2{
    font-size: 36px;
    display: block;
    padding: 12px 0px;
    width:400px;
}

.about-me-overview h3{
    width:400px;
    text-align: center;
    font-size: 24px;
    color:var(--secondary-text);
}

.about-me-overview i{
    color:var(--navbar);
}

.about-me-overview li{
    color:var(--navbar);
}

.contact-me ul{
    display:flex;
    padding:25px 15px;
    width:400px;
}

.contact-me ul li{
    padding:0 25px;
}

/* biography section */
.about-me-bio{
    padding: 0 0 0 50px;
    text-align: left;
    font-size: 24px;
    line-height: 1.4;
    width:auto;
}

.about-me-bio h1{
    font-size: 36px;
    padding-bottom:5px;
}

.about-me-bio p{
    color:var(--secondary-text);
    font-size: 24px;
}

/* lists parent */
.about-me-lists{
    display:flex;
    justify-content: center;
    
}
/* interests section */
.interests{
    padding-right: 15px;
    font-size:24px;
    display:block;
    line-height: 1.5;
    max-width: 600px;
    margin-bottom: 100px;
}

.interests h3{
    font-size:30px;
}

.interests ul{
     padding-left: 20px;
     color:var(--secondary-text);
}
.interests ul li{
    list-style-type:circle;
    width:50%;
    float:left;
}

/* education section */
.education{ 
    padding: 0 30px 0 0;
    display:block;
    float:right;
    margin-bottom: 100px;
}

.education h3{
    font-size: 30px;
    line-height: 1.5;
    width: 45%;
}

.education ul{
    color:var(--secondary-text);
}

.education ul li i{
    float:left;
    padding: 8px;
    
    color:var(--secondary-text);
}

.program{
    font-size:24px;
    padding-top:5px;
}

.school{
    font-size: 20px;
    line-height: 1.5;
    padding-left:32px;
}



/* skills section */
.skills{
    padding: 100px 0 150px 0;
    width: 100%;
    position: relative;
    /* background-color: var(--secondary-background); */
    /* -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg); */
    margin-top: 50px;
    background-color: var(--primary-text);
    overflow: hidden;
}

.skills:after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index:-1;
    bottom:0;
    transform-origin: left bottom;
    transform: skewY(3deg)
}

.skills-header{
    transform:skewY(-3deg);
    font-size:40px;
    text-align: center;
    padding-bottom:120px;
    color:var(--background)
}

.skills-wrapper{
    transform:skewY(-3deg);
    margin:auto;
    align-items:center;
    text-align: center;
}

.skillRow{
    display:flex;
    justify-content: center;
    
}

.singleSkill{
    width: 300px;
    height: 110px;
}

.iconWrapper{
    background-color: var(--darker-light);
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    padding-top: 13px;
    margin-bottom: 10px;
    margin: 0 125px;
}

.iconWrapper > i {
    position: relative;
    font-size:24px;
}

.skillsName{
    color:var(--background);
    margin:10px 0;
    font-size: 24px;
}

/* work section */
.work{
    margin: 100px 0;
    width:100%;
}

.work-heading{
    font-size:40px;
    text-align: center;
    width:100%;
    padding-bottom:30px;    
}



footer{
    padding:10px;
    text-align:center;
    width:auto;
    justify-content: center;
    color:var(--primary-text);
}

/* skew effect css  */
.goodDiv{
    width: 100%;
    position:relative;
}

.goodDiv:after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

.skew1,
.skew2:after{
    transform-origin:left bottom;
    transform:skewY(3deg);
}

.skew3:after{
    transform-origin: right bottom;
    transform:skewY(-3deg)
}

/* media queries for resposiveness*/

@media screen and (max-width: 1400px) {
    
    .about-me-lists{
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

    .interests{
        float:left;
        width:96%;
        align-items: center;
        margin:auto;
        max-width:none;
    }
    
    .education{ 
        float: left;
        width:96%;
        margin:auto;
        align-items: center;
        padding-top:100px;
    }
}

@media screen and (max-width: 1250px) {
    .work-heading{
        margin-bottom: 140px;
    }
    
    .work-container{
        flex-direction: column;
        height: auto;
        padding-bottom: 200px;
        margin-bottom: 140px;
    }

    .project-1{
        margin-bottom: 20px;
        margin-right:0;
    }

    .side-projects{
        float:none;
    }
    
    .project-2{
        padding-top: 10px;
    }

    .project-3{
        margin-bottom: 500px;
    }
  }

@media screen and (max-width: 1200px){

    header{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    header h1{
        width: auto;
        margin: auto;
    }
    header nav{
        margin-right: 0;
        margin: auto;
        float:none;
    }

    header nav ul li:nth-child(1) {
        margin-left: 0;
    }

    .about-me{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width:auto;
    }
    .about-me-overview h2{
        width: auto;
    }

    .about-me-overview h3{
        width:auto;
        text-align: center;
        font-size: 24px;
    }
    
    .contact-me ul{
        justify-content: center;
        justify-items: center;
        width:auto;
    }
    main{
        padding-top:10px;
    }
}

@media screen and (max-width: 1100px){
    .singleSkill{
        width: 200px;
        height: 110px;
    }
    
    .iconWrapper{
        background-color: var(--darker-light);
        width: 50px; 
        height: 50px;
        border-radius: 50%;
        padding-top: 13px;
        margin-bottom: 10px;
        margin: 0 75px;
    }
    
    .iconWrapper > i {
        position: relative;
        font-size:24px;
    }
    
    .skillsName{
        color:var(--background);
        margin:10px 0;
        font-size: 24px;
    }
}


@media screen and (max-width: 1000px){
    .about-me-bio{
        padding:0;
        
    }
    .education{
        margin:0 8%;
    }
    .interests{
        margin: 0 8%;
        font-size: 24px;
    }

}


/* small skills  */
/* .skills-wrapper{
    transform:skewY(-3deg);
    margin:auto;
    align-items:center;
    text-align: center;
}

.skillRow{
    display:flex;
    justify-content: center;
    
}

.singleSkill{
    padding:8px;
    width:110px;
    height: 110px;
}

.iconWrapper{
    background-color: var(--darker-light);
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    padding-top: 13px;
    margin-bottom: 10px;
}

.iconWrapper > i {
    position: relative;
    font-size:24px;
}

.skillsName{
    color:var(--background)
} */