:root{
  --light:#3500D3;
  --dark:#282828;
  --primary:#290090;
  --secondary:#121212;
  --darker-light:#0C0032;
}

header{
    padding:12px 20px 12px 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
    
}

header h1{
    font-size:40px;
    display:inline-block;
    background-color: var(--dark);
    color: var(--light);
    padding: 8px 8px 8px 50px;
    width:320px;
}

header nav {
    padding-top: 15px;
    margin-right: 80px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
}

header nav ul li a{
    color:var(--dark);
}

article{
    margin-top: 50px;
 
}
section h2{
    font-size:36px;
    float:left;
    margin-right: 20px;
    padding: 80px 40px;
    background-color:var(--primary);
    color:var(--secondary);
    width:320px;
    text-align:right;
    top:10px;
    display:table;
    height: auto;
}

article p{
    text-align: left;
    margin:5px;
    padding:0px 40px;
    letter-spacing: 1px;
    line-height: 1.8;
    display:table; 
    border-left: black 3px;
    border-style: groove;
}

/*

.col-container {
    display: flex;
    width:100%;
}


If the browser window is smaller than 600px, make the columns stack on top of each other 
@media only screen and (max-width: 600px) {
    .col {
      display: block;
      width: 100%;
    }
  }
 */