:root{
  --primary-text:#E1E1E1;
  --secondary-text:#CFCFCF;
  --background:#121212;
  --navbar:#102A43;
  --secondary-background:#3B3B3B;
  --darker-light:#0C0032;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color:var(--primary-text)
}

/* header */
header{
    padding:12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--navbar);
    color: var(--primary-text);
    top:0;
    left:0;
    right:0;
    position:fixed;
    overflow: hidden;
    width:100%;
    z-index: 1000;
    box-shadow: 1px 1px 4px 1px #b1b1b12f;
}

header h1{
    font-size:40px;
    display: inline-block;
    /* color: var(--dark); */
    text-align: center;
    margin: 0 8%;
    width:400px;
}

/* nav */
header nav {
    padding-top: 8px;
    margin-right: 10%;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 24px;
}

header nav ul li a{
    color:var(--dark);
    text-decoration: none;
}

/* main */
main{
    margin:100px 8%;
} 

/* about me parent */
.about-me{
    text-align: center;
    display:flex;
    align-items: stretch;
    padding:80px 0;
}

/* about me overview section */

.about-me-overview{
    float:left;
    text-align: center;
    padding: 0 15px;
    width:auto;
}


.profile-photo{
    border-radius: 50%;
    height:275px;
    width:275px;    
    text-align: center;
    margin:0 62.5px;
}

.about-me-overview h2{
    font-size: 36px;
    display: block;
    padding: 12px 0px;
    width:400px;
}

.about-me-overview h3{
    width:400px;
    text-align: center;
    font-size: 24px;
    color:var(--secondary-text);
}

.about-me-overview i{
    color:var(--navbar);
}

.about-me-overview li{
    color:var(--navbar);
}

.contact-me ul{
    display:flex;
    padding:25px 15px;
    width:400px;
}

.contact-me ul li{
    padding:0 25px;
}

/* biography section */
.about-me-bio{
    padding: 0 0 0 50px;
    text-align: left;
    font-size: 24px;
    line-height: 1.4;
    width:auto;
}

.about-me-bio h1{
    font-size: 36px;
    padding-bottom:5px;
}

.about-me-bio p{
    color:var(--secondary-text);
}

/* lists parent */
.about-me-lists{
    display:flex;
    justify-content: center;
    
}
/* interests section */
.interests{
    padding-right: 15px;
    font-size:24px;
    display:block;
    line-height: 1.5;
    max-width: 600px;
    margin-bottom: 100px;
}

.interests h3{
    font-size:30px;
}

.interests ul{
     padding-left: 20px;
     color:var(--secondary-text);
}
.interests ul li{
    list-style-type:circle;
    width:50%;
    float:left;
}

/* education section */
.education{ 
    padding: 0 30px 0 0;
    display:block;
    float:right;
    margin-bottom: 100px;
}

.education h3{
    font-size: 30px;
    line-height: 1.5;
    width: 45%;
}

.education ul{
    color:var(--secondary-text);
}

.education ul li i{
    float:left;
    padding: 8px;
    
    color:var(--secondary-text);
}

.program{
    font-size:24px;
    padding-top:5px;
}

.school{
    font-size: 20px;
    line-height: 1.5;
    padding-left:32px;
}

/* skills section */
.skills{
    padding: 100px 0 150px 0;
    /* background-color: var(--secondary-background); */
    border-radius: 10px;
    margin-top: 50px;
}

.skills-header{
    font-size:40px;
    text-align: center;
    padding-bottom:120px;
}

.skills-ids{
    display:flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.skills-ids div{
    
    text-align:center;
    flex:none;
    width: 33%;
}

.skills-ids div span i{
    padding-bottom: 10px;
    color:var(--navbar);
}
.skills-ids div h4{
    font-size:30px;
    line-height: 2.0;
}
.skills-ids div p{
    font-size:24px;
    line-height: 1.5;
    color:var(--secondary-text);

}

/* work section */
.work{
    margin: 100px 0;
    width:100%;
}

.work-heading{
    font-size:40px;
    text-align: center;
    width:100%;
    padding-bottom:30px;    
}

.work-container{
    height:600px;
    margin:auto;
    display:flex;
    width:100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.project-1{
    width:600px;
    height:400px;
    margin-right:4%;
    clear:none; 
    flex:none;
    position: relative;
    overflow: auto;
}
.project-1 img{
    width: 600px;
    height: 400px;
    border:var(--navbar) 10px solid;
    justify-content: center;
    overflow: auto;
    position: absolute;
    opacity: 80%;
}

.project-text{
    background-color: var(--navbar);
    position: absolute;
    bottom: 50px;
    right: 0px;
    color: white;
    padding: 10px 15px;
    line-height: 1.5;
}

.side-projects{
    float:right;
    flex-direction: column;
    height:400px;
    padding:auto;
}

.project-2{
    height:190px;
    width:600px;
    margin-bottom: 20px;
    position: relative;
    overflow: auto;
} 

.project-2 img{
    border:var(--navbar) 10px solid;
    height:190px;
    width:600px;
    justify-content: center;
    overflow: auto;
    position: absolute;
    opacity: 80%;
}


.project-3{
    height:190px;
    width:600px;
    position: relative;
    overflow: auto;
}
 
.project-3 img{
    border:var(--navbar) 10px solid;
    height:190px;
    width:600px;
    justify-content: center;
    overflow: auto;
    position: absolute;
    opacity: 80%;
}

.project-1 img:hover{
    opacity: 100%;
}

.project-2 img:hover{
    opacity: 100%;
}

.project-3 img:hover{
    opacity: 100%;
}

footer{
    padding:10px;
    text-align:center;
    width:auto;
    justify-content: center;
    color:var(--primary-text);
}

/* media queries for resposiveness*/

@media screen and (max-width: 1400px) {
    
    .about-me-lists{
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

    .interests{
        float:left;
        width:96%;
        align-items: center;
        margin:auto;
        max-width:none;
    }
    
    .education{ 
        float: left;
        width:96%;
        margin:auto;
        align-items: center;
        padding-top:100px;
    }
}

@media screen and (max-width: 1250px) {
    .work-heading{
        margin-bottom: 140px;
    }
    
    .work-container{
        flex-direction: column;
        height: auto;
        padding-bottom: 200px;
        margin-bottom: 140px;
    }

    .project-1{
        margin-bottom: 20px;
        margin-right:0;
    }

    .side-projects{
        float:none;
    }
    
    .project-2{
        padding-top: 10px;
    }

    .project-3{
        margin-bottom: 500px;
    }
  }

@media screen and (max-width: 1200px){

    header{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    header h1{
        width: auto;
        margin: auto;
    }
    header nav{
        margin-right: 0;
        margin: auto;
        float:none;
    }

    header nav ul li:nth-child(1) {
        margin-left: 0;
    }

    .about-me{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width:auto;
        margin: auto;
    }
    .about-me-overview h2{
        width: auto;
    }

    .about-me-overview h3{
        width:auto;
        text-align: center;
        font-size: 24px;
    }
    
    .contact-me ul{
        justify-content: center;
        justify-items: center;
        width:auto;
    }
}

@media screen and (max-width: 1000px){
    .education{
        width:96%;
    }

}
